{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-2 mb-4 my-md-4">
    <div class="row">
        <div class="col text-center">
            <h1 class="text-center">Order History</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Table for desktop display showing order history -->
            {% if orders %}
            <div class="order-history table-responsive d-none d-md-block">
                <table class=" table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th class="d-none d-md-table-cell">Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody class="order-table-body">
                        {% for order in orders %}
                        <tr>
                            <!-- Order number linking to order details -->
                            <td>
                                <div class="order-table-body">
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                        {{ order.order_number }}
                                    </a>
                                </div>
                            </td>
                            <!-- Order date -->
                            <td>{{ order.order_date }}</td>
                            <!-- Items in the order (only visible on medium screens and above) -->
                            <td class="d-none d-md-table-cell">
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li>
                                        {{ item.product.name }} {% if item.variant %} Size
                                        {{ item.variant.size }}{% endif %}
                                        x {{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!-- Total amount of the order -->
                            <td>€{{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Mobile-friendly view showing order history -->
            <div class="d-md-none">
                {% for order in orders %}
                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                            <h2 class="h5">Order #{{ order.order_number }}</h2>
                            <p>Date: {{ order.order_date }}</p>
                            <p>Items:</p>
                            <ul>
                                {% for item in order.lineitems.all %}
                                <li>
                                    {{ item.product.name }} {% if item.variant %} Size
                                    {{ item.variant.size }}{% endif %}
                                    x {{ item.quantity }}
                                </li>
                                {% endfor %}
                            </ul>
                            <p>Total: €{{ order.grand_total }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <!-- Message for users with no orders yet -->
            <div class="text-center">
                <p class="text-center mt-4">You have no orders yet.</p>
                <a href="{% url 'products' %}" class="shop-now-button btn btn-primary btn-lg text-uppercase px-4 py-2">
                    Shop Now
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}