html {
    height: 100%;
}

body {
    font-family: 'Montserrat';
}

.main-logo-link {
    width: fit-content;
}

@media (min-width: 992px) {
    .header-container {
        padding-top: 148px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 100px;
    }
    body {
        height: calc(100vh - 100px);
    }
}
