{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-2 mb-4 my-md-4">
    <div class="row">
        <div class="col-md-6 my-auto text-center">
            <h1 class="display-4">
                Page not found
            </h1>
            <p>
                Sorry we could not find the page that you are looking for
            </p>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="btn btn-lg btn-primary text-uppercase py-3">
                        Return to shop
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}