<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="nav-link" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="tools-link" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Tools
            </a>

            <ul class="dropdown-menu border-0" aria-labelledby="tools-link">
                <li class="dropdown-submenu">
                    <a class="dropdown-item"
                        href="{% url 'products' %}?first_level=tools&second_level=power_tools">Power
                        Tools</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?first_level=tools&second_level=power_tools&third_level=angle_grinders">Angle
                                Grinders</a></li>
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?first_level=tools&second_level=power_tools&third_level=drills">Drills</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?first_level=tools&second_level=power_tools&third_level=multi_tools">Multi
                                Tools</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?first_level=tools&second_level=power_tools&third_level=saws">Saws</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item" href="{% url 'products' %}?first_level=tools&second_level=hand_tools">Hand
                        Tools</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?first_level=tools&second_level=hand_tools&third_level=hammers">Hammers</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?first_level=tools&second_level=hand_tools&third_level=sawing_cutting">Sawing
                                &amp; Cutting</a></li>
                    </ul>
                </li>
                <li><a class="dropdown-item"
                        href="{% url 'products' %}?first_level=tools&second_level=measuring_tools">Measuring
                        Tools</a></li>
                <li><a class="dropdown-item"
                        href="{% url 'products' %}?first_level=tools&second_level=tool_accessories">Tool
                        Accessories</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?first_level=tools">All Tools</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="fasteners-link" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Fasteners
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fasteners-link">
                <a href="{% url 'products' %}?first_level=fasteners&second_level=screws_nails"
                    class="dropdown-item">Screws &amp; Nails</a>
                <a href="{% url 'products' %}?first_level=fasteners&second_level=bolts_nuts" class="dropdown-item">Bolts
                    &amp; Nuts</a>
                <a href="{% url 'products' %}?first_level=fasteners&second_level=anchors"
                    class="dropdown-item">Anchors</a>
                <a href="{% url 'products' %}?first_level=fasteners" class="dropdown-item">All Fasteners</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="equipment-link" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Safety Equipment
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <li class="dropdown-submenu">
                    <a href="{% url 'products' %}?second_level=safety_clothing" class="dropdown-item">Safety
                        Clothing</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?first_level=safety_equipment&second_level=safety_clothing&third_level=hi_vis_vests">Hi
                                Vis
                                Vests</a></li>
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?first_level=safety_equipment&second_level=safety_clothing&third_level=work_gloves">Work
                                Gloves</a></li>

                    </ul>
                </li>
                <li><a href="{% url 'products' %}?first_level=safety_equipment&second_level=eye_ear_protection"
                        class="dropdown-item">Eye &amp; Ear
                        Protection</a></li>
                <li><a href="{% url 'products' %}?first_level=safety_equipment&second_level=respirators_masks"
                        class="dropdown-item">Respirators
                        &amp;
                        Masks</a></li>
                <li> <a href="{% url 'products' %}?first_level=safety_equipment" class="dropdown-item">All Safety
                        Clothing</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="workwear-link" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Workwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="workwear-link">
                <a href="{% url 'products' %}?first_level=workwear&second_level=work_boots" class="dropdown-item">Work
                    Boots</a>
                <a href="{% url 'products' %}?first_level=workwear&second_level=work_jackets" class="dropdown-item">Work
                    Jackets</a>
                <a href="{% url 'products' %}?first_level=workwear&second_level=work_trousers"
                    class="dropdown-item">Work Trousers</a>
                <a href="{% url 'products' %}?first_level=workwear" class="dropdown-item">All Workwear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="{% url 'products' %}" id="all-products-link" aria-expanded="false">
                All Products
            </a>
        </li>
    </ul>
</div>