{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container flex-grow-1 col-md-6 col-lg-4 my-4 allauth-form-inner-content">
    <h1 class="mb-4">{% trans "Change Password" %}</h1>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        {% element button type="submit" %}
        {% trans "Change Password" %}
        {% endelement %}
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        {% endslot %}
        {% endelement %}
    </form>
</div>
{% endblock content %}