{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Page Title -->
    <title>BuildMaster</title>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <!-- Viewport Meta Tag for Responsive Design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Meta Tags for SEO -->
    <meta name="description"
        content="Build Master Shop offers high-quality power tools, durable workwear, and safety equipment for professionals and DIY enthusiasts. Discover reliable tools and protective gear designed for construction, woodworking, and industrial work.">
    <meta name="keywords"
        content="power tools, hand tools, durable workwear, safety equipment, construction gear, cordless drills, heavy-duty tools, professional-grade tools, high-visibility clothing">
    <meta name="author" content="Oleksii Kovalenko">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Favicon for the website -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <!-- Bootstrap CSS for Responsive Layout and Components -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap Icons for Additional Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
</head>

<body class="d-flex flex-column h-100">
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-start">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font my-0"><strong>Build</strong>Master</h2>
                </a>
            </div>
            <div class="col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black" id="search-icon"
                                type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-end my-0">
                    {% if request.user.is_authenticated %}
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="bi bi-person"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_superuser %}
                            <li><a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a></li>
                            <li><a href="{% url 'add_blog_post' %}" class="dropdown-item">Add Post</a></li>
                            {% endif %}
                            <li><a href="{% url 'profile' %}" class="dropdown-item">My Profile</a></li>
                            <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="list-inline-item">
                        <div class="text-center">
                            <a class="nav-link" href="{% url 'account_login' %}">
                                <div><i class="bi bi-person"></i></div>
                                Login / Register
                            </a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="list-inline-item">
                        <a class="nav-link {% if total_cost > 0 %}has-items{% endif %}" href="{% url 'view_cart' %}">
                            <div class="text-center">
                                <div><i class="bi bi-cart"></i></div>
                                {% if total_cost %}
                                €{{ total_cost|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col">
                <h4 class="my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 26 %}
        {% include 'includes/toasts/toast_cart_success.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="footer mt-4 ">
        <div class="container-fluid px-md-4">
            <div class="row">
                <div class="col-lg-3 text-center text-lg-start">
                    <h5>Contact Information</h5>
                    <p>
                        <strong>Phone:</strong> +353 1 2312 3123<br>
                        <strong>Email:</strong> buildmaster@example.com<br>
                        <a href="{% url 'contact_us' %}">Contact us</a><br>
                    </p>
                </div>
                <div class="col-lg-3 text-center">
                    <h5>Stay Connected</h5>
                    <ul class="list-unstyled d-flex justify-content-around">
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=61568320523905" target="_blank"
                                rel="noopener noreferrer">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="https://www.twitter.com/YourPage" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/YourPage" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-lg-3 text-center">
                    <h5>Policies</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://www.termsfeed.com/live/e92715b8-edde-4374-bc0f-97ff667ede0f"
                                target="_blank">Privacy Policy-link</a></li>

                        <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                        <li><a href="{% url 'terms_of_service' %}">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 text-center text-lg-end d-flex justify-content-center d-lg-block">
                    <div id="mc_embed_shell">
                        <div id="mc_embed_signup">
                            <form
                                action="https://herokuapp.us17.list-manage.com/subscribe/post?u=e3659d00cab8fee39e602266c&amp;id=dbdf50c9d2&amp;f_id=0015a0e0f0"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate" target="_blank">
                                <div id="mc_embed_signup_scroll">
                                    <h5 class="text-center text-lg-end">Subscribe to Us</h5>
                                    <div class="mc-field-group"><input type="email" name="EMAIL" class="required email"
                                            id="mce-EMAIL" required="" value="" placeholder="Email Address"></div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display: none;"></div>
                                        <div class="response" id="mce-success-response" style="display: none;"></div>
                                    </div>
                                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                        /* real people should not fill this in and expect good things - do not remove
                                        this or risk form bot signups */
                                        <input type="text" name="b_e3659d00cab8fee39e602266c_dbdf50c9d2" tabindex="-1"
                                            value="">
                                    </div>
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                        class="btn btn-sm btn-primary w-100 m-0" value="Subscribe">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% block corejs %}
    <!-- JavaScript Libraries and Files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <!-- MailChimp scripts-->
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
            fnames[6] = 'COMPANY';
            ftypes[6] = 'text';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <!-- <script>
        $(document).ready(function () {
            var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

            $('.dropdown-submenu > a').on('click touchstart', function (e) {
                var submenu = $(this).next('.dropdown-menu');

                if (isMobile && !submenu.is(':visible')) {
                    submenu.show();
                    e.preventDefault();
                } else if (!isMobile && !submenu.is(':visible')) {
                    submenu.show();
                    e.preventDefault();
                } else {
                    return true;
                }
            });
        });
    </script> -->
    {% endblock %}

    {% block postloadjs %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toastEl = document.querySelector('.toast');
            if (toastEl) {
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
            }
        });
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
</body>

</html>