{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container flex-grow-1">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-md-6">
            <h2 class="text-center my-4">Product Management</h2>
            <h5 class="text-center text-muted">Add a Product</h5>
            <form method="post" action="{% url 'add_product' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in product_form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}

                <h3>Product Variants</h3>
                <div id="variant-forms">
                    {{ variant_formset.management_form }}

                    {% for form in variant_formset %}
                    <div class="variant-form">
                        {{ form | crispy }}
                        {% if form.instance.pk %}
                        <label for="{{ form.prefix }}-DELETE">Delete:</label> {{ form.DELETE }}
                        {% endif %}
                    </div>

                    {% endfor %}

                </div>
                <button id="add-variant" class="btn btn-secondary btn-sm">Add Variant</button>
                <div class="d-flex justify-content-between mt-3">
                    <a class="btn btn-secondary" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-primary" type="submit">Add Product</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const totalForms = document.getElementById('id_variants-TOTAL_FORMS');
        const variantContainer = document.getElementById('variant-forms');

        document.getElementById('add-variant').addEventListener('click', (e) => {
            e.preventDefault();

            const newFormIndex = totalForms.value; // Get the current number of forms

            // Get the last variant form
            const lastVariantForm = variantContainer.querySelector('.variant-form:last-child');

            // Clone the last variant form
            const newVariantForm = lastVariantForm.cloneNode(true);

            // Update the cloned form's input names and ids
            const inputs = newVariantForm.querySelectorAll('input');
            inputs.forEach(input => {
                input.name = input.name.replace(/-\d+-/, `-${newFormIndex}-`);
                input.id = input.id.replace(/-\d+-/, `-${newFormIndex}-`);
                // Clear input values
                input.value = '';
                // If the input is a DELETE checkbox, it should be unchecked
                if (input.type === 'checkbox') {
                    input.checked = false;
                }
            });

            // Append the cloned form to the container
            variantContainer.appendChild(newVariantForm);

            // Update the total forms count
            totalForms.value = parseInt(newFormIndex) + 1;
        });
    });

    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}