{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <hr>
            <h2 class="mb-4">Product Management</h2>
            <h5 class="text-muted">Delete a Product</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Are you sure you want to delete <strong>{{ product.name }}</strong>?</p>
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img class="img-thumbnail w-50" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="#">
                <img class="img-thumbnail w-50" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}

            <div class="m-2">
                <form method="post" action="{% url 'delete_product' product.sku %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    <a href="{% url 'product_detail_by_sku' product.sku %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}