{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container-fluid mt-2 mb-4 my-md-4">
    <div class="row">
        <div class="col-md-6 col-lg-4 offset-lg-2">
            <p class="small">
                <i class="bi bi-tag me-1"></i>
                {% for category in product.get_category_hierarchy %}
                {% if forloop.first %}
                <a class="text-muted" href="{% url 'products' %}?first_level={{ category.name }}">
                    {{ category.friendly_name }}
                </a>
                {% elif forloop.counter == 2 %}
                <a class="text-muted"
                    href="{% url 'products' %}?first_level={{ product.get_category_hierarchy.0.name }}&second_level={{ category.name }}">
                    {{ category.friendly_name }}
                </a>
                {% elif forloop.counter == 3 %}
                <a class="text-muted"
                    href="{% url 'products' %}?first_level={{ product.get_category_hierarchy.0.name }}&second_level={{ product.get_category_hierarchy.1.name }}&third_level={{ category.name }}">
                    {{ category.friendly_name }}
                </a>
                {% endif %}
                {% if not forloop.last %} &gt; {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-2">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-2">
                <h1 class="h5">{{ product.name }}</h1>
                <div class="lead">
                    {% if selected_variant %}
                    <h2 class="h3">€{{ selected_variant.price }}</h2>
                    {% else %}
                    <h2 class="h3">€{{ product.price }}</h2>
                    {% endif %}
                </div>
                <div>
                    {% if product.rating %}
                    <div class="rating-star">
                        <span title="{{ product.rating }}/5">
                            <i class="bi bi-star{% if product.rating >= 1 %}-fill{% else %}{% if product.rating >= 0.5 and product.rating < 1 %}-half{% endif %}{% endif %} text-warning"
                                aria-hidden="true"></i>
                            <i class="bi bi-star{% if product.rating >= 2 %}-fill{% else %}{% if product.rating >= 1.5 and product.rating < 2 %}-half{% endif %}{% endif %} text-warning"
                                aria-hidden="true"></i>
                            <i class="bi bi-star{% if product.rating >= 3 %}-fill{% else %}{% if product.rating >= 2.5 and product.rating < 3 %}-half{% endif %}{% endif %} text-warning"
                                aria-hidden="true"></i>
                            <i class="bi bi-star{% if product.rating >= 4 %}-fill{% else %}{% if product.rating >= 3.5 and product.rating < 4 %}-half{% endif %}{% endif %} text-warning"
                                aria-hidden="true"></i>
                            <i class="bi bi-star{% if product.rating == 5 %}-fill{% else %}{% if product.rating >= 4.5 and product.rating < 5 %}-half{% endif %}{% endif %} text-warning"
                                aria-hidden="true"></i>
                        </span>
                        <span class="text-small">({{ product.rating|floatformat:1 }} / 5)</span>
                    </div>
                    {% else %}
                    <div class="rating-star">
                        <i class="bi bi-star text-muted" aria-hidden="true"></i>
                        <i class="bi bi-star text-muted" aria-hidden="true"></i>
                        <i class="bi bi-star text-muted" aria-hidden="true"></i>
                        <i class="bi bi-star text-muted" aria-hidden="true"></i>
                        <i class="bi bi-star text-muted" aria-hidden="true"></i>
                    </div>
                    {% endif %}
                </div>
                <form action="{% url 'add_to_wishlist' %}" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="redirect_url" value="{{ request.path }}">

                    <button type="submit" class="btn btn-link add-wishlist-btn p-0 py-2">
                        Add to Wishlist
                    </button>
                </form>
                {% if request.user.is_superuser %}
                <small class="">
                    <a href="{% url 'edit_product' product.sku %}">Edit</a>
                    <a class="text-danger ms-2" href="{% url 'delete_product' product.sku %}">Delete</a>
                </small>
                {% endif %}
                <!-- <p class="small mt-1 mb-0">
                    {% if product.first_level_category %}

                    <a class="text-muted"
                        href="{% url 'products' %}?first_level={{ product.first_level_category.name }}">
                        <i class="bi bi-tag me-1"></i>{{ product.first_level_category.friendly_name }}
                    </a> /
                    {% endif %}
                    {% if product.second_level_category %}
                    <a class="text-muted"
                        href="{% url 'products' %}?first_level={{ product.first_level_category.name }}&second_level={{ product.second_level_category.name }}">
                        <i class="bi bi-tag me-1"></i>{{ product.second_level_category.friendly_name }}
                    </a> /
                    {% endif %}
                    {% if product.third_level_category %}
                    <a class="text-muted"
                        href="{% url 'products' %}?first_level={{ product.first_level_category.name }}&second_level={{ product.second_level_category.name }}&third_level={{ product.third_level_category.name }}">
                        <i class="bi bi-tag me-1"></i>{{ product.third_level_category.friendly_name }}
                    </a>
                    {% endif %}
                </p> -->
                <p class="mt-3">{{ product.description }}</p>
                <p class="mt-3">{{ product.additional_attributes }}</p>

                <form class="form" action="{% url 'add_to_cart' current_sku %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% if product.variants.exists %}
                        <div class="col product-variants mt-4">
                            <p><strong>Available Sizes:</strong></p>
                            <div class="sizes">
                                {% for variant in product.variants.all %}
                                <a href="{% url 'product_detail_by_sku' variant.sku %}"
                                    class="btn {% if selected_variant and selected_variant.sku == variant.sku %}btn-secondary{% else %}btn-light{% endif %} me-2">
                                    {{ variant.size }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <p><strong>Selected Size: </strong><span
                                    id="selected_size">{% if selected_variant %}{{ selected_variant.size }}{% else %}None{% endif %}</span>
                            </p>
                            <p><strong>SKU: </strong><span id="selected_sku" class="sku">{{current_sku}}</span>
                            </p>
                        </div>
                        {% else %}
                        <p><strong>SKU: </strong><span id="selected_sku" class="sku">{{current_sku}}</span>
                        </p>
                        {% endif %}

                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group input-group-{{ current_sku }}">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn decrement-qty_{{ current_sku }}"
                                            data-item_sku="{{ current_sku }}" aria-label="Decrease quantity">
                                            <span>
                                                <i class="bi bi-dash-circle"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <label for="quantity-input-{{ current_sku }}" class="sr-only">Quantity</label>
                                    <input id="quantity-input-{{ current_sku }}"
                                        class="form-control qty_input id_qty_{{ current_sku }}" type="number"
                                        name="quantity" value="1" min="1" max="99" data-item_sku="{{ current_sku }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn increment-qty_{{ current_sku }}"
                                            data-item_sku="{{ current_sku }}" aria-label="Increase quantity">
                                            <span>
                                                <i class="bi bi-plus-circle"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col{% if s %}-12 mt-2{% endif %}">
                            <div class="d-flex justify-content-between mt-3 flex-wrap">
                                <a href="{% url 'products' %}" class="btn btn-secondary mt-5">
                                    <span class="icon">
                                        <i class="bi bi-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-primary text-uppercase mt-5" value="Add to Bag">
                            </div>
                        </div>

                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <input type="hidden" name="size" value="{{ selected_variant.size }}">
                        <input type="hidden" id="selected_variant" name="variant"
                            value="{% if selected_variant %}{{ selected_variant.sku }}{% endif %}">
                    </div>
                </form>

            </div>

        </div>

    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 product-reviews order-2 order-md-1">
                <div class="col-lg-10 mx-auto">
                    <h3 class="text-center">Customer Reviews</h3>
                    {% if reviews %}
                    {% for review in reviews %}
                    <div class="review mb-3 p-2 border-bottom">
                        <strong>{{ review.user.username }}</strong>

                        {% if is_verified_user %}
                        <small class="ms-2 verified-purchase-label">Verified Purchase</small>
                        {% endif %}
                        <div class="d-flex justify-content-between">
                            <small>{{ review.created_at|date:"M j, Y, g:i A" }}</small>
                            <div class="rating text-warning text-end">
                                {% for i in "12345" %}
                                <i class="bi bi-star{% if review.rating >= i|to_int %}-fill{% endif %}"></i>
                                {% endfor %}
                            </div>
                        </div>
                        {% if review.is_updated %}
                        <small class="fst-italic text-muted">(updated on
                            {{ review.updated_at|date:"M j, Y, g:i A" }})</small>
                        {% endif %}
                        <p class="review-comment bg-white mt-2 p-2 rounded">{{ review.comment }}</p>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="text-center">No reviews yet. Be the first to write one!</p>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6 order-1 order-md-2 mb-4">
                <div class="col-lg-10 mx-auto">
                    {% if request.user.is_authenticated %}
                    {% if user_has_reviewed %}
                    <h3 class="text-center">Your Review</h3>
                    <div class="p-3">
                        <p>You have already submitted a review for this product.</p>
                        <div class="">
                            <div class="d-flex justify-content-between">
                                <small>{{ user_review.created_at|date:"M j, Y, g:i A" }}</small>
                                <div class="rating text-warning">
                                    {% for i in "12345" %}
                                    <i class="bi bi-star{% if user_review.rating >= i|to_int %}-fill{% endif %}"></i>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if user_review.is_updated %}
                            <small class="fst-italic text-muted">(updated on
                                {{ user_review.updated_at|date:"M j, Y, g:i A" }})</small>
                            {% endif %}
                            <p class="review-comment bg-white p-2 rounded mt-2">{{ user_review.comment }}</p>
                            <div class="mt-3 text-end">
                                <a href="{% url 'edit_review' user_review.id %}" class="">Edit</a>
                                <a href="{% url 'delete_review' user_review.id %}" class="ms-2">Delete</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="review-form p-3 border rounded">
                        <h3 class="text-center">Write a Review</h3>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form_review|crispy }}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    {% endif %}
                    {% else %}
                    <h3 class="text-center">Your Review</h3>
                    <p class="mt-4"><a href="{% url 'account_login' %}">Log in</a> to write a review.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/quantity_input_script.html' %}
<script>
    const selectedVariantInput = document.getElementById('selected_variant');
    const addToWishlistBtn = document.getElementById('add_to_wishlist_btn');

    function updateAddToWishlistLink() {
        const currentSku = selectedVariantInput.value.trim();
        if (currentSku) {
            const wishlistUrl = `/add-to-wishlist/${currentSku}/`;
            addToWishlistBtn.setAttribute('href', wishlistUrl);
        }
    }

    updateAddToWishlistLink();
</script>

{% endblock %}